@font-face {
    font-family: 'Inter';
    font-weight:400;
    src: url("../../assets/fonts/Inter/Inter-Regular.ttf") format('truetype');
         
}

@font-face {
    font-family: 'Inter';
    font-weight:600;
    src: url("../../assets/fonts/Inter/Inter-SemiBold.ttf") format('truetype');
         
}

@font-face {
    font-family: "Murecho";
    font-weight:400;
    src: url("../../assets/fonts/Murecho/Murecho-Regular.ttf") format('truetype');
         
}
@font-face {
    font-family: 'Murecho';
    font-weight:500;
    src: url("../../assets/fonts/Murecho/Murecho-Medium.ttf") format('truetype');
         
}

@font-face {
    font-family: 'Murecho';
    font-weight:600;
    src: url("../../assets/fonts/Murecho/Murecho-SemiBold.ttf") format('truetype');
         
}

@font-face {
    font-family: "Murecho";
    font-weight:700;
    src: url("../../assets/fonts/Murecho/Murecho-Bold.ttf") format('truetype');
         
}