//COLORS

$primary-dark-color:#3085C3;
$primary-light-color:#A1C4DD;
$secondary-dark-color:#F6F200;
$secondary-light-color:#F4E869;
$primary-text-color:#294458;

//SPACING
$extra-small-spacing:.5rem;
$small-spacing:1rem;
$medium-spacing:1.5rem;
$large-spacing:2rem;
$extra-large-spacing:2.5rem;

//MOBILE TEXT STYLES

$m-logo-fs:.875rem;
$m-nav-link-fs:1.125rem;
$m-hero-subheading-fs:.75rem;
$m-hero-main-heading-fs:1.75rem;
$m-section-heading-fs:1.75rem;
$m-service-fs:1rem;
$m-mission-statement-fs:.875rem;
$m-body-fs:.75rem;
$m-reasons-fs:.875rem;
$m-phone-fs:1.5rem;
$m-call-now-fs:1.25rem;
$m-testimonial-fs:.8rem;

$m-button-fs:.75rem;
$m-footer-heading-fs:.875rem;
$m-copyright-fs:.625rem;

//TABLET TEXT STYLES

$t-logo-fs:1.5rem;
$t-nav-link-fs:1rem;
$t-hero-subheading-fs:.75rem;
$t-hero-main-heading-fs:2.5rem;
$t-section-heading-fs:2.375rem;
$t-service-fs:1.375rem;
$t-mission-statement-fs:1.25rem;
$t-body-fs:1.125rem;
$t-reasons-fs:1.125rem;
$t-phone-fs:2rem;
$t-call-now-fs:2rem;
$t-testimonial-fs:1rem;

$t-button-fs:1rem;
$t-footer-heading-fs:1.375rem;
$t-copyright-fs:.875rem;

//DESKTOP TEXT STYLES

$d-logo-fs:1.75rem;
$d-nav-link-fs:1.125rem;
$d-hero-subheading-fs:1.25rem;
$d-hero-main-heading-fs:3.375rem;
$d-section-heading-fs:3rem;
$d-service-fs:1.75rem;
$d-mission-statement-fs:1.5rem;
$d-body-fs:1.5rem;
$d-reasons-fs:1.5rem;
$d-phone-fs:2rem;
$d-call-now-fs:2rem;
$d-testimonial-fs:1rem;

$d-button-fs:1.25rem;
$d-footer-heading-fs:1.625rem;
$d-copyright-fs:.875rem;

//DESKTOP MAX WIDTH

$desktop-max-width:80rem;